
.landing-page-section{
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width: 575px) {
    .carousel-inner > .carousel-item {
        height: 200px;
    }
}

@media (min-width: 576px) {
    .carousel-inner > .carousel-item {
        height: 500px;
    }
}

#footer{
    margin-top: 20px;
    padding: 10px;
}